.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
}


@media (min-width: 1100px) {
    .container {
        max-width: 60vw;
        margin: auto;
    }
}


.container:before {
    --size: 100px;
    --speed: 30s;
    --easing: linear;
  
    content: '';
    position: absolute;
    inset: 0;
    left: -4%;
    top: -2%;
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 6));
    background-image: linear-gradient(rgb(0, 162, 255), rgb(0, 255, 255), purple);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    opacity: 0.4;
  
    animation: dance var(--speed) var(--easing) alternate infinite;
    transition: all 0.25s ease-in-out;
    z-index: 1;
  }
  
  @media (min-width: 720px) {
    .container:before {
      --size: 300px;
    }
  }
  
  @keyframes dance {
    0% {
      transform: rotate(0deg) scale(1); 
      opacity: 0.4;
    }
    50%{
        transform: scale(5);
        opacity: 0.1;
    }
   
    100% {
      transform: rotate(360deg) scale(1);
      opacity: 0.4;
    }
  }