* {
  box-sizing: border-box;
  font-family: "Open Sans", -apple-system, sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
}

main {
  position: relative;
}

section {
  padding: 2rem 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  background: none;
}

ul {
  list-style: none;
}

::selection {
  background: rgba(0, 255, 255, 0.3);
}

@media (max-width: 600px) {
  section {
    padding: 1rem 1.5rem;
  }
}
