.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  min-height: calc(70vh);
  margin-bottom: 8rem;
  border-bottom: 1px solid #212121;
}