.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  min-height: calc(75vh);
  margin-bottom: 6rem;
  border-bottom: 1px solid #212121;
}

.container:before {
  --size: 100px;
  --speed: 42s;
  --easing: linear;

  content: '';
  position: absolute;
  inset: 0;
  top: -20%;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 6));
  background-image: linear-gradient(rgb(0, 162, 255), rgb(0, 255, 255), purple);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  opacity: 0.3;

  animation: dance var(--speed) var(--easing) alternate-reverse infinite;
  transition: all 0.25s ease-in-out;
  z-index: 2;
}

@media (min-width: 600px) {
  .container:before {
    --size: 200px;
  }
}

@media (min-width: 1100px) {
  .container:before {
    --size: 300px;
  }
}

@keyframes dance {
  0% {
    transform: rotate(0deg);
    left: -10%;
    top: -20%;
  }
  50%{
    top: 75%;
  }
  100% {
    top: -30%;
    left: 70%;
    transform: rotate(360deg);
  }
}