.container {
    background: rgba(0, 0, 0, 0.95);
    color: white;  
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: .88em;
    padding: 6rem 3rem 2rem 3rem;
    border-top: 1px solid #212121;
}

.list {
    display: flex;
    gap: 2em;
}

.link {
    position: relative;
}

.link:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1em;
    height: 1em;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: linear-gradient(to right, rgb(0, 162, 255), rgb(0, 255, 255));
    opacity: 0;
    transition: all .25s ease-in-out;
}

.icon {
    transition: all .35s ease-in-out; 
}

.link:hover:before,
.link:focus:before {
    width: 2em;
    height: 2em;
    opacity: 0.3;
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column-reverse;
        gap: 3em;
        padding-top: 2em;
    }
}
  