.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 2rem 3rem;
  z-index: 10;
}

.name {
  font-size: 1em;
}

.list {
  display: flex;
  gap: 2em;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.88em;
  font-weight: 300;
  line-height: 1.5em;
  text-decoration: none;
  padding: 0 2em;
  transition: all 0.25s ease-in-out;
}

.link:before {
  content: "";
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  left: 1em;
  bottom: 0;
  border-radius: 100%;
  background: linear-gradient(to right, rgb(0, 162, 255), rgb(0, 255, 255));
  opacity: 0.3;
  z-index: -1;
  transition: all 0.25s ease-in-out;
}

.link:hover {
  background: linear-gradient(to right, rgb(0, 162, 255), rgb(0, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link:hover:before {
  left: 60%;
  background: white;
}

.button {
  position: absolute;
  top: 0.5em;
  right: 1em;
  width: 1em;
  height: 1em;
  padding: 1em;
  border-radius: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  opacity: 1;
  transition: all 0.15s ease;
  z-index: 20;
}

.button[data-state="close"] {
  color: rgb(13, 13, 13);
}

.button:not(.isVisible) {
  display: none;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1em;
  height: 1em;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: linear-gradient(to right, rgb(0, 162, 255), rgb(0, 255, 255));
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.button:hover:before,
.button:focus:before {
  width: 2em;
  height: 2em;
  opacity: 0.3;
}

.mobileContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  color: rgb(13, 13, 13);
  font-size: 3em;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  z-index: -10;
}

.mobileContainer.isVisible {
  inset: 0;
  min-height: 100vh;
  opacity: 1;
  z-index: 10;
}

.mobileList {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.mobileLink {
  font-weight: 600;
}

.mobileLink:before {
  z-index: 0;
}

.mobileLink:hover:before {
  background: rgba(0, 0, 0, 0.3);
  left: 28%;
}

.mobileContainer:not(.isVisible) .mobileLink {
  display: none;
}

@media (max-width: 600px) {
  .container {
    padding: 1rem 1.5rem;
  }

  .name {
    font-size: 0.88em;
  }

  .list {
    display: none;
  }

  .link {
    font-size: 0.8em;
    padding: 0 1.5em;
  }
}

@media (min-width: 600px) {
  .mobileContainer {
    display: none;
  }

  .button {
    display: none;
  }
}
