.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 2rem 3rem;
    z-index: 10;
}

.name {
    font-size: 1em;
}

.list {
    display: flex;
    gap: 2em;
}

.link {
    position: relative;
    display: flex;
    align-items: center;
    font-size: .88em;
    font-weight: 300;
    line-height: 1.5em;
    text-decoration: none;
    padding: 0 2em;
    transition: all .25s ease-in-out;
}

.link:before {
    content: '';
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    left: 1em;
    bottom: 0;
    border-radius: 100%;
    background: linear-gradient(to right, rgb(0, 162, 255), rgb(0, 255, 255));
    opacity: 0.3;
    z-index: -1;
    transition: all .25s ease-in-out;
}

.link:hover {
    background: linear-gradient(to right, rgb(0, 162, 255), rgb(0, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link:hover:before {
    left: 60%;
    background: white;
}

@media (max-width: 600px) {
    .name {
        font-size: 0.88em;
    }

    .list {
        gap: 0.5em;
    }

    .link {
        font-size: 0.8em;
        padding: 0 1.5em;
    }
}
  